.memberGridItem {
    h3 {
        color: var(--brand);
    }
    p {
        margin: 0;
    }
}

.memberGridItemContactInfoContainer {
    margin-block: var(--s-4)
}

.memberGridItemContactInfo {
    display: flex;
    align-items: center;
    gap: var(--s-2);
    justify-content: center;
}
